{% extends "base.html.twig" %}

{% block title %} Liste des formules et voyages {% endblock %}

{% block body %}
    
    <table class="table table-bordered">
        <tr>
            <th colspan=4 class="text-center">Nombre de formules : {{ formules|length }}</th>
        </tr>
        <tr>
            <th colspan=4 class="text-center">Ajouter une formule : <a href="{{path("formule_add")}}"><i class="fas fa-plus"></i></a></th>
        </tr>
        <tr>
            <th>Formule</th><th>Prix</th><th colspan=2>Actions</th>
        <tr>
        {% for formule in formules %}
            <tr>
                <td>{{ formule.formule }}</td>
                <td>{{ formule.prix }}</td>
                <td><a href="{{path("formule_update", {id: formule.id})}}" class="fa fa-pen"></a></td>
                <td><a href="{{path("formule_delete", {id: formule.id})}}" class="fa fa-trash"></a></td>
            </tr>
        {% endfor %}
    </table><br><br><br>
    <table class="table table-bordered">
        <tr>
            <th colspan=3 class="text-center">Nombre de destinations : {{ voyages|length }}</th>
        </tr>
        <tr>
            <th colspan=3 class="text-center">Ajouter un destination : <a href="{{path("voyage_add")}}"><i class="fas fa-plus"></i></a></th>
        </tr>
        <tr>
            <th>Destination</th><th colspan=2>Actions</th>
        <tr>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.destination }}</td>
                <td><a href="{{path("voyage_update", {id: voyage.id})}}" class="fa fa-pen"></a></td>
                <td><a href="{{path("voyage_delete", {id: voyage.id})}}" class="fa fa-trash"></a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}